/* CSS */

/* Generic Styles */
body { font-family: sans-serif; }
img {border: 0; padding: 0; margin: 0; outline: 0;}
ul { list-style: none;}



/* Content */
.slider-wrapper { width: 958px; margin-top: 10px; margin-bottom: 10px; margin: auto; border: 1px solid #eaeaea; min-height: 100%;padding: 20px; }

.slider { overflow: hidden; position: relative; }

.boom { list-style: none; padding: 0; margin: 0; position: relative;}
	.boom li { padding: 0; margin: 0; display: inline-block; float:left; position: relative;}
		.boom li img {width: 100%; }
		.boom li .centred {text-align: center; width: 100%; background: black;}
		.boom li iframe {width: 100%; padding: 0; margin: 0;}
		.boom li span.title {bottom: 3px; font-family: 'Noto Serif', serif; font-size: 0.9em; color: white; font-weight: bold; position: absolute; left: 0; width: 90%; padding: 25px 5%; background: #a5a5a5; background: rgba(0,0,0,0.3); box-shadow: 0 -3px 0 rgba(255,255,255,0.1); line-height: 1.45em; -webkit-transition: all 0.3s ease; opacity: 0; alpha(opacity=0);}
		.boom li:hover span.title { bottom: 3px; display: inline; opacity: 1; alpha(opacity=100);}

.slider-nav { position: absolute; top: 0; right: 5px; }
	.slider-nav li { display: inline; padding: 3px 10px; margin-right: 5px; background: #f7fcf6; color: grey; cursor: pointer; box-shadow: 0 0 6px rgba(0,0,0,0.5); font-weight: 900;}

.slider-nav-bottom { width: 100%; text-align: center; clear: both; position: absolute; bottom: 0; }

	

@media screen and (max-width:1000px) {
	.slider-wrapper { width: 90%; padding: 0 5%;}
}
@media screen and (max-width:480px) {
	.boom li:hover span.title, .boom li span.title {display: none;}
}