/* CSS */

/* Generic Styles */
body { font-family: sans-serif; }



/* Content */
.carouselps-wrapper { width: 958px; margin-top: 10px; margin-bottom: 10px; margin: auto; border: 1px solid #eaeaea; min-height: 100%;padding: 20px; }
.carouselps-wrapper img {border: 0; padding: 0; margin: 0; outline: 0;}

.carouselps-wrap { overflow: hidden; position: relative; }

.carouselps { list-style: none; padding: 0; margin: 0; position: relative; overflow: hidden; width: 99999px;}
.carouselps li { padding: 0; margin: 0; display: inline-block; float:left; position: relative;margin-right: 5px;}
.carouselps li img {width: 100%; }

.carouselps-nav { position: absolute; top: 0; right: 5px; }
.carouselps-nav li { display: inline; padding: 3px 10px; margin: 0; background: #f7fcf6; color: grey; cursor: pointer; box-shadow: 0 0 6px rgba(0,0,0,0.5); font-weight: 900;}

.carouselps-nav-bottom { width: 100%; text-align: center; clear: both; position: relative; margin: 10px 0 0 0; padding-left: 0; list-style: none; }
.carouselps-nav-bottom li {display: inline; margin: 0 3px; cursor: pointer;}
.carouselps-nav-bottom li a {display: inline-block; width: 12px; height: 12px; border-radius: 50%; border: 1px solid #999; background: #e9e9e9; }
.carouselps-nav-bottom li.current a {background: #a1a1a1;}

@media screen and (max-width:1000px) {
	.carouselps-wrapper { width: 90%; padding: 2%;}
}
@media screen and (max-width:560px) {
	.carouselps li:hover span.title, .carouselps li span.title {display: none;}
}